In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import researchpy as rp
from scipy import stats

# Create Connection object and get list of tables
connString = 'mysql+pymysql://dm_team1:dm_team1123#@18.136.56.185:3306/project_banking'
conn = create_engine(connString)
stmt = "SELECT * FROM  INFORMATION_SCHEMA.TABLES"
df0 = pd.read_sql(stmt,conn)

df0.tail()

,TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,TABLE_TYPE,ENGINE,VERSION,ROW_FORMAT,TABLE_ROWS,AVG_ROW_LENGTH,DATA_LENGTH,...,INDEX_LENGTH,DATA_FREE,AUTO_INCREMENT,CREATE_TIME,UPDATE_TIME,CHECK_TIME,TABLE_COLLATION,CHECKSUM,CREATE_OPTIONS,TABLE_COMMENT
57,def,information_schema,INNODB_BUFFER_POOL_STATS,SYSTEM VIEW,MEMORY,10,Fixed,NaN,257,0,...,0,0,None,2019-04-02 18:31:58,NaT,None,utf8_general_ci,None,max_rows=65280,
58,def,information_schema,INNODB_FT_CONFIG,SYSTEM VIEW,MEMORY,10,Fixed,NaN,1163,0,...,0,0,None,2019-04-02 18:31:58,NaT,None,utf8_general_ci,None,max_rows=14425,
59,def,project_banking,Cust_Account,BASE TABLE,InnoDB,10,Compact,181335.0,217,39403520,...,0,7340032,None,2018-09-03 02:29:38,NaT,None,latin1_swedish_ci,None,,
60,def,project_banking,Cust_Demographics,BASE TABLE,InnoDB,10,Compact,23461.0,516,12107776,...,0,4194304,None,2018-09-03 02:29:49,NaT,None,latin1_swedish_ci,None,,
61,def,project_banking,Cust_Enquiry,BASE TABLE,InnoDB,10,Compact,392967.0,76,29949952,...,0,6291456,None,2018-09-03 02:29:58,NaT,None,latin1_swedish_ci,None,,

In [2]:
# Download the 3 files
stmt = "SELECT * FROM  Cust_Account"
df1 = pd.read_sql(stmt,conn)


stmt = "SELECT * FROM  Cust_Enquiry"
df2 = pd.read_sql(stmt,conn)

 
stmt = "SELECT * FROM  Cust_Demographics"
df3 = pd.read_sql(stmt,conn)

In [3]:
print("Shape of Cust_Account      :",df1.shape)
print("Shape of Cust_Enquiry      :",df2.shape)
print("Shape of Cust_Demographics :",df3.shape)

Shape of Cust_Account      : (186329, 21)
Shape of Cust_Enquiry      : (413188, 6)
Shape of Cust_Demographics : (23896, 83)

In [4]:
# Save Files
df1.to_csv('1_Cust_Account.csv',index=False)
df2.to_csv('1_Cust_Enquiry.csv',index=False)
df3.to_csv("1_Cust_Demographics.csv",index=False)